<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-success">Edit todo</h1>
    <form action="/todo/{{todo.id}}/edit" method="POST" class="mt-4">
      <label for="title" class="form-label underline" style="font-size: 22px; font-family: 'JetBrains Mono', monospace;">Enter the task's new title:</label>
      <input 
        type="text" 
        id="title" 
        name="title" 
        class="form-control bg-dark text-success border-0" 
        value="{{todo.title}}" 
        required 
        style="font-size: 22px; font-family: 'JetBrains Mono', monospace;">
      <br><br>      
      <label for="description" class="form-label underline" style="font-size: 22px; font-family: 'JetBrains Mono', monospace;">Enter the task's new description:</label>
      <input 
        type="text" 
        id="description" 
        name="description" 
        class="form-control bg-dark text-success border-0" 
        value="{{todo.description}}" 
        required 
        style="font-size: 22px; font-family: 'JetBrains Mono', monospace;">
      <br><br>
      <button type="submit" class="btn custom-file-upload" style="font-size: 22px; font-family: 'JetBrains Mono', monospace;">Edit the task</button>
  </div>
</body>
</html>
